---
global:
  scrape_interval: 1s
  evaluation_interval: 1s

rule_files:
 - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

scrape_configs:
  - job_name: 'node'
    ec2_sd_configs:
      - region: us-east-1
        access_key: AKIAZW2NAGF4STCQSVMU
        secret_key: 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
        port: 9100